.slide {
  display: flex;
  justify-content: center;
  padding: 100px 0px;

  .container {
    max-width: 1400px;
    width: 100%;
    box-sizing: border-box;

    :global {
      .slick-prev:before {
        color: rgb(103, 102, 102);
        font-size: 40px;
        position: relative;
        right: 20px;
      }
      .slick-next:before {
        color: rgb(103, 102, 102);
        font-size: 40px;
        position: relative;
        right: 7px;
      }
      .slick-slide > div {
        width: 90%;
        margin: auto;
      }

      .slick-slider {
        margin: 0px 50px;
      }
    }
  }
}
