@import "../../app.module.scss";
.orders {
  display: flex;
  justify-content: center;
  .container {
    max-width: 1400px;
    box-sizing: border-box;
    width: 100%;
    padding: 50px 40px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgb(40, 40, 40);
      @include mobile {
        font-size: 13px;
      }
    }
    table {
      width: 100%;

      tr {
        height: 50px;
        color: rgb(40, 40, 40);

        th {
          text-align: left;
          @include mobile {
            font-size: 13px;
          }
        }

        td {
          img {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }
          .message {
            width: 40px;
            cursor: pointer;
          }
          @include mobile {
            font-size: 12px;
          }
        }
        &:nth-child(even) {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
